apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  project: {{ .Project | default "default" }}
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: {{ .ChartVersion | default "4.11.2" }}
    helm:
      valuesObject:
        controller:
          service:
            type: LoadBalancer
            {{- if eq .CloudProvider "aws" }}
            annotations:
              service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
              service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "tcp"
              service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
            {{- end }}
          enableSSLPassthrough: {{ .Values.controller.enableSSLPassthrough | default true }}
    chart: ingress-nginx
  destination:
    name: {{ .DestinationName | default "in-cluster" }}
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true