{{- define "external-secret" -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .SecretName }}
  namespace: {{ .Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "{{ .SyncWave }}"
spec:
  refreshInterval: 60s
  secretStoreRef:
    name: {{ .SecretStoreName | default "vault-secret-store" }}
    kind: ClusterSecretStore
  target:
    name: {{ .SecretName }}
  {{- if .Data }}
  data:
  {{- range .Data }}
  - secretKey: {{ .SecretKey }}
    remoteRef:
      key: {{ .RemoteKey }}
      {{- if .Property }}
      property: {{ .Property }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- if .DataFrom }}
  dataFrom:
  - extract:
      key: {{ .DataFrom.Key }}
      {{- if .DataFrom.Version }}
      version: {{ .DataFrom.Version }}
      {{- end }}
  {{- end }}
{{- end -}}