apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "10"
  name: external-dns-secrets
  namespace: external-dns
spec:
  data:
    - remoteRef:
        key: /cloudflare
        property: token
        version: v1
      secretKey: token
  refreshInterval: 10s
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .ClusterName }}-secret-store
  target:
    name: external-dns-secrets