apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .ClusterName }}-cert-manager
  namespace: argocd
  labels:
    konstruct.io/cluster: "{{ .ClusterName }}"
    konstruct.io/team: "{{ .TeamName | default "default" }}"
    konstruct.io/component: "cert-manager"
  annotations:
    konstruct.io/created-by: "konstruct-api"
    argocd.argoproj.io/sync-wave: "20"  # Deploy for certificates after secrets
spec:
  project: {{ .Project | default "default" }}
  source:
    repoURL: https://charts.jetstack.io
    chart: cert-manager
    targetRevision: {{ .ChartVersion | default "v1.15.2" }}
    helm:
      valuesObject:
        serviceAccount:
          create: true
          name: cert-manager
          {{- if eq .CloudProvider "aws" }}
          annotations:
            eks.amazonaws.com/role-arn: arn:aws:iam::{{ .AWSAccountID }}:role/KON-{{ .ClusterName }}-cert-manager
          {{- end }}
        installCRDs: {{ .Values.installCRDs | default true }}
  destination:
    name: {{ .DestinationName | default "in-cluster" }}
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true